<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
        <a href="/"  rel="sponsored noopener noreferrer"
           class="simple-text logo-mini">
            *
        </a>
        <a href="/"  rel="sponsored noopener noreferrer"
           class="simple-text logo-normal">
            " METRICS "
        </a>
    </div>

    <ul class="nav">
    {% if request.user.is_authenticated %}

      <li class="{% if 'index' in segment %} active {% endif %}">
        <a href="{% url 'dashboard' %}">
          <i class="tim-icons icon-components"></i>
          <p>DASHBOARD</p>
        </a>
      </li>
      <li class="{% if 'typography' in segment %} active {% endif %}">
          <a href="{% url 'lifeline' %}">
              <i class="tim-icons icon-sound-wave"></i>
              <p>" LIFELINE "</p>
          </a>
      </li>
      <li class="{% if 'notifications' in segment %} active {% endif %}">
        <a href="{% url 'flow' %}">
          <i class="tim-icons icon-atom"></i>
          <p>" FLOW "</p>
        </a>
      </li>
      <li class="{% if 'icons' in segment %} active {% endif %}">
           <a href="{% url 'my_repos' %}">
               <i class="tim-icons icon-world"></i>
               <p>MY REPOS</p>
           </a>
      </li>
      <li class="{% if 'tables' in segment %} active {% endif %}">
          <a href="{% url 'watchlist' %}">
              <i class="tim-icons icon-settings-gear-63"></i>
              <p>WATCH LIST</p>
          </a>
      </li>
      <li class="{% if 'page-user' in segment %} active {% endif %}">
        <a href="{% url 'profile' %}">
            <i class="tim-icons icon-single-02"></i>
            <p>PROFILE</p>
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}" >
          <i class="tim-icons icon-button-power"></i>
          <p>LOGOUT</p>
        </a>
      </li>
      {% else %}
      {% endif %}

    </ul>

  </div>
</div>
