{% extends "base.html" %}
{% load plotly_dash %}

{% block title %} DASHBOARD {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="{% plotly_class name='example'%} card" style="height: 100%; width: 100%">
        <br>
        {% plotly_app name='example' ratio=0.65%}
    </div>
    <br>
    <div class="card" style="height: 100%; width:100%">
        {{ scatter_plot | safe }}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
