{% extends "base.html" %}
{% load plotly_dash %}

{% block title %} FLOW {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% if valid_token %}
        {% if not no_repos %}
            <form method="post">
            {% csrf_token %}
                <div class="container" style="width: 100%;">
                    {% for i in watchlist %}
                        <h5 style="display: inline-block">
                            {% if selected_id == i.repo.id %}
                                <button type="submit" name="repo_id" value="{{ i.repo.id }}" class="btn btn-sm btn-success">{{ i.repo.owner }} / {{ i.repo.name }}</button>
                            {% else %}
                                <button type="submit" name="repo_id" value="{{ i.repo.id }}" class="btn btn-sm btn-info">{{ i.repo.owner }} / {{ i.repo.name }}</button>
                            {% endif %}
                        </h5>
                    {% endfor %}
                </div>
            </form>
            <div class="{% plotly_class name='monthly_pr_wait'%} card" style="height: 100%; width: 100%">
                {% plotly_app name='monthly_pr_wait' ratio=0.65%}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-profile">
                        <div class="card-body">
                            <br>
                            <h3 class="text-info" style="text-align: center">YOU AREN'T WATCHING ANY REPOS </h3>
                            <br><br>
                            <h3 class="text-info" style="text-align: center">
                                <a href="{% url 'watch_repo' %}"> ADD PUBLIC GITHUB REPOS </a>
                            </h3>
                            <br>
                            <h4 style="text-align: center"> OR </h4>
                            <br>
                            <h3 class="text-info" style="text-align: center">
                                <a href="{% url 'my_repos' %}"> ADD YOUR PERSONAL REPOS </a>
                            </h3>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body">
                        <br>
                        <h3 class="text-danger" style="text-align: center">GITHUB TOKEN MISSING</h3>
                        <h3 style="text-align: center">
                            <a target="_blank" href="https://github.com/settings/tokens/new"> GENERATE A GITHUB ACCESS TOKEN </a>
                        </h3>
                        <div class="text-info" style="text-align: center">
                            <h4 class="text-info" style="text-align: center"> REQUIRED SCOPES :</h4>
                            <p>repo:status</p>
                            <p>public_repo</p>
                            <p>read:org</p>
                            <p>read:user</p>
                            <p>user:email</p>
                            <br>
                        </div>
                        <h3 style="text-align: center">
                            <a href="{% url 'profile' %}"> VALIDATE YOUR GITHUB ACCESS TOKEN </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
