{% extends "base.html" %}
{% load plotly_dash %}

{% block title %} "METRICS" {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center">
                            " HOMEPAGE "
                        </h4>
                        <h5>
                            {% if not invalid_token %}
                                {% for repo in repos %}
                                    <a href="{{ repo.html_url }}"> {{ repo.full_name }}</a>
                                    <br><br>
                                {% endfor %}
                            {% else %}
                                <br>
                                <h3 class="text-danger" style="text-align: center">INVALID GITHUB TOKEN</h3>
                                <h3 style="text-align: center">
                                    <a target="_blank" href="https://github.com/settings/tokens/new"> GENERATE A GITHUB ACCESS TOKEN </a>
                                </h3>
                                <div class="text-info" style="text-align: center">
                                    <h4 class="text-info" style="text-align: center"> REQUIRED SCOPES :</h4>
                                    <p>repo:status</p>
                                    <p>public_repo</p>
                                    <p>read:org</p>
                                    <p>read:user</p>
                                    <p>user:email</p>
                                    <br>
                                </div>
                                <h3 style="text-align: center">
                                    <a href="{% url 'profile' %}"> VALIDATE YOUR GITHUB ACCESS TOKEN </a>
                                </h3>
                            {% endif %}
                        </h5>

                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
