{% extends "base.html" %}

{% block title %} " METRICS " ™ {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body">
                {% if valid_token %}
                    <h4 class="title" style="text-align: center">
                        " HOME "
                    </h4>
                    <br><br>
                {% else %}
                    <br>
                    <h3 class="text-danger" style="text-align: center">GITHUB TOKEN MISSING</h3>
                    <h3 style="text-align: center">
                        <a target="_blank" href="https://github.com/settings/tokens/new"> GENERATE A GITHUB ACCESS TOKEN </a>
                    </h3>
                    <div class="text-info" style="text-align: center">
                        <h4 class="text-info" style="text-align: center"> REQUIRED SCOPES :</h4>
                        <p>repo:status</p>
                        <p>public_repo</p>
                        <p>read:org</p>
                        <p>read:user</p>
                        <p>user:email</p>
                        <br>
                    </div>
                    <h3 style="text-align: center">
                        <a href="{% url 'profile' %}"> VALIDATE YOUR GITHUB ACCESS TOKEN </a>
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
