{% extends "base.html" %}

{% block title %} PROFILE {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">EDIT PROFILE</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>USER ID</label>
                <input type="text" class="form-control" disabled="" value="{{ request.user.id }}">
              </div>
            </div>
            <div class="col-md-6 px-md-1">
              <div class="form-group">
                <label>USERNAME</label>
                <input type="text" class="form-control" value="{{ request.user.username }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>FIRST NAME</label>
                <input type="text" class="form-control" placeholder="" value="">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>LAST NAME</label>
                <input type="text" class="form-control" placeholder="" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>ABOUT ME</label>
                <textarea rows="4" cols="80" class="form-control" placeholder="" value=""></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" style="align-self: center">
        <button type="submit" class="btn btn-fill btn-primary">SAVE</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
