{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-black">

    <title>
        REGISTER
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
<div class="wrapper">


    <div class="main-panel col-md-12 p-lg-5">

        <div class="row">
            <div class="card col-md-12">
                <br>
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="card-header" style="text-align: center">
                        <h3 class="title">REGISTER</h3>
                    </div>
                    {% for field in register_form %}
                        <div class="card-body">
                            <div class="row" style="text-align: center">
                                <div class="container text-center col-md-4 px-md-5">
                                    <div class="form-group">
                                        {{ field | as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card-footer">
                        <div class="row" style="text-align: center">
                            <div class="col-md-12 px-md-5">
                                <button type="submit" name="register" class="btn btn-fill btn-primary">REGISTER</button>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <h4 style="text-align: center"> OR </h4>
                <br>
                <div class="row" style="text-align: center">
                    <div class="col-md-12 px-md-5">
                        <a href="{% url 'login' %}" class="btn btn-fill btn-primary">LOGIN</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}


{#  {% include 'includes/fixed-plugin.html' %}#}

{#{% include 'includes/scripts.html' %}#}

{#{% include 'includes/scripts-sidebar.html' %}#}

</body>

</html>
